---
---

@import "{{ site.theme }}";
header {

    background: black;

}

header a.button {

    background: purple

}

aside a.button {

    background: purple

}

#main-content h2:before {

    color: purple;

}

#main-content h1:before {

    color: purple;

}

#main-content h3 {

    color: purple;

  }

  #main-content h4 {

    color: purple;

  }

  #main-content h6 {

    color: purple;

  }
